.CoinCards {
    grid-area: coinCards;
    grid-template-areas: 
    "coinCard coinCard";
    max-height: 75vh;
    overflow: scroll;
}

.coin-cards-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: solid 1px black;
}

p {
    font-size: 2vh;
}